<html lang="EN">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>


<body>
<div id="left-block">
  <ul style="list-style-type:none" class="Myleft">
    <br>
    <li>
      <button id="buttonCV" class="buttonCV">Comptages de vélos</button>
    </li>
    <br>
    <li>
      <button id="buttonPI" class="buttonPI">Points d'intérêt</button>
    </li>
    <br>
    <li>
      <button id="buttonFontaines" class="buttonPI">Fontaines à boire</button>
    </li>
    <br>
    <li>
      <button id="buttonAtelierRep" class="buttonPI">Réparation de vélos</button>
    </li>
    <br>
    <li>
      <button id="buttonAjouterPI" class="buttonPI">Ajouter point d'intérêt</button>
    </li>
    <br>
  </ul>
</div>
<div id="right-block" class="Myright">
  <h3 id="rightPanelTitle"><b>Metro station of the city of Montreal</b></h3>
  <hr/>
  <script>
    setDataListCompteurs();
  </script>
  <div style="height:55%; overflow-y: scroll;">
    <table id="myTable" class="MyTable">

    </table>
  </div>
  <hr/>
</div>
</body>

<footer class="footer">
</footer>
<script src="/src/main.js"></script>
</html>