<html lang="EN">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>

  <link rel="stylesheet" type="text/css" href='/src/frontend/css/metros.css'/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="/src/frontend/scripts/RightPanel.js"></script>
</head>


<body>
<div id="right-block" class="Myright">
  <h3 id="rightPanelTitle"><b>Metro station of the city of Montreal</b></h3>
  <hr/>
  <script>
    setDataListMetros();
  </script>
  <div style="height:55%; overflow-y: scroll;">
    <table id="metroTable" class="tables">
    </table>
  </div>
  <hr/>
</div>
</body>

<footer class="footer">
  <p>Contact: Ayoub Moudrika, <a href="mailto:ayoub.moudrika.1@ens.etsmtl.ca">ayoub.moudrika.1@ens.etsmtl.ca</a><br>
</footer>
<script src="/src/main.js"></script>
</html>